venv**
**/__pycache__/*
**/.DS_Store
**/*.pyc
**/.idea
**/*.db
test/tmp/**typings
typings/
test/tmp/
main/mongodb/.mypy_cache/
vagrant/.vagrant/
.env-secret
.venv/
src/ansible/tmp/
logger.log
tmp/
.vscode/
**swp
huey.db-shm
huey.db-wal
.coverage
k3s.yaml
camera/
camera_backup/
.env-secret
.gitlab.cfg
