
app_registry:
  hostname: https://index.docker.io/v1/
  repository_prefix: "{{ cf_username }}"
  username: "{{ cf_username }}"
  password: "{{ cf_password }}"

add_metrics_server_components: true
enable_automount_service_account_token: true
load_balancer:
  enable: false
metrics_server_prefer_internal_kubelet_address: true
remove_resource_requirements: true
use_first_party_jwt_tokens: true
