{
    "auths": {
        "https://registry.gitlab.com":{
            "username":"{{ lookup('env', 'GITLAB_TOKEN_USERNAME') }}",
            "password":"{{ lookup('env', 'GITLAB_TOKEN_PASSWORD') }}",
            "email":"{{ lookup('env', 'GITLAB_TOKEN_EMAIL') | mandatory }}",
            "auth" : "{{ out.stdout_lines[0] }}"
    	}
    }
}
