
<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <meta name="theme-color" content="#5eb9d7"/>

    <!-- OG & Twitter metadata -->
    <meta property="og:site_name" content="{{ title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:url" content="https://flaskjinja.hackersandslackers.app/"/>
    <meta property="og:image" content="{{ url_for('static', filename='img/flask-jinja@2x.jpg') }}"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:url" content="https://flaskjinja.hackersandslackers.app/"/>
    <meta name="twitter:site" content="@hackersslackers"/>
    <meta name="twitter:creator" content="@toddrbirchard"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ url_for('static', filename='img/flask-jinja@2x.jpg') }}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% block css %}{% endblock %}
</head>

<body>
{% include 'navigation.html' %}
{% block content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>

</html>